
# PlanAhead Generated physical constraints 

NET "BYTE" LOC = F3;
NET "CE0" LOC = E6;
NET "clock" LOC = U26;
NET "reset" LOC = T1;
NET "OE" LOC = J1;
NET "RP" LOC = A5;
NET "VPEN" LOC = D5;
NET "WE" LOC = K1;
NET "flashAddress[22]" LOC = G5;
NET "flashAddress[21]" LOC = D3;
NET "flashAddress[20]" LOC = F5;
NET "flashAddress[19]" LOC = C2;
NET "flashAddress[18]" LOC = A2;
NET "flashAddress[17]" LOC = B2;
NET "flashAddress[16]" LOC = C3;
NET "flashAddress[15]" LOC = C4;
NET "flashAddress[14]" LOC = A4;
NET "flashAddress[13]" LOC = B4;
NET "flashAddress[12]" LOC = E5;
NET "flashAddress[11]" LOC = C5;
NET "flashAddress[10]" LOC = B6;
NET "flashAddress[9]" LOC = A6;
NET "flashAddress[8]" LOC = D6;
NET "flashAddress[7]" LOC = C6;
NET "flashAddress[6]" LOC = C7;
NET "flashAddress[5]" LOC = A7;
NET "flashAddress[4]" LOC = E8;
NET "flashAddress[3]" LOC = D7;
NET "flashAddress[2]" LOC = D8;
NET "flashAddress[1]" LOC = C8;
NET "flashAddress[0]" LOC = G3;
NET "flashdata[15]" LOC = H1;
NET "flashdata[14]" LOC = G2;
NET "flashdata[13]" LOC = E1;
NET "flashdata[12]" LOC = D1;
NET "flashdata[11]" LOC = B1;
NET "flashdata[10]" LOC = H5;
NET "flashdata[9]" LOC = J4;
NET "flashdata[8]" LOC = H3;
NET "flashdata[7]" LOC = G1;
NET "flashdata[6]" LOC = F1;
NET "flashdata[5]" LOC = E2;
NET "flashdata[4]" LOC = C1;
NET "flashdata[3]" LOC = K5;
NET "flashdata[2]" LOC = K3;
NET "flashdata[1]" LOC = J3;
NET "flashdata[0]" LOC = G4;

NET "Ram1Address[19]" LOC = W24;
NET "Ram1Address[18]" LOC = W22;
NET "Ram1Address[17]" LOC = V23;
NET "Ram1Address[16]" LOC = AC23;
NET "Ram1Address[15]" LOC = AA23;
NET "Ram1Address[14]" LOC = AA18;
NET "Ram1Address[13]" LOC = AB22;
NET "Ram1Address[12]" LOC = AD21;
NET "Ram1Address[11]" LOC = AC20;
NET "Ram1Address[10]" LOC = AA15;
NET "Ram1Address[9]" LOC = AC19;
NET "Ram1Address[8]" LOC = AC16;
NET "Ram1Address[7]" LOC = AC15;
NET "Ram1Address[6]" LOC = AD15;
NET "Ram1Address[5]" LOC = AC14;
NET "Ram1Address[4]" LOC = V26;
NET "Ram1Address[3]" LOC = V24;
NET "Ram1Address[2]" LOC = W26;
NET "Ram1Address[1]" LOC = W25;
NET "Ram1Address[0]" LOC = Y26;
NET "Ram1data[31]" LOC = AE15;
NET "Ram1data[30]" LOC = AF15;
NET "Ram1data[29]" LOC = AF16;
NET "Ram1data[28]" LOC = AA19;
NET "Ram1data[27]" LOC = AA17;
NET "Ram1data[26]" LOC = AF18;
NET "Ram1data[25]" LOC = AE19;
NET "Ram1data[24]" LOC = AF19;
NET "Ram1data[23]" LOC = AC25;
NET "Ram1data[22]" LOC = AD26;
NET "Ram1data[21]" LOC = AE26;
NET "Ram1data[20]" LOC = AE25;
NET "Ram1data[19]" LOC = AF25;
NET "Ram1data[18]" LOC = AE24;
NET "Ram1data[17]" LOC = AB21;
NET "Ram1data[16]" LOC = AE23;
NET "Ram1data[15]" LOC = AF20;
NET "Ram1data[14]" LOC = AE21;
NET "Ram1data[13]" LOC = AF21;
NET "Ram1data[12]" LOC = AB17;
NET "Ram1data[11]" LOC = AC17;
NET "Ram1data[10]" LOC = AD18;
NET "Ram1data[9]" LOC = AB18;
NET "Ram1data[8]" LOC = AD19;
NET "Ram1data[7]" LOC = AB24;
NET "Ram1data[6]" LOC = Y22;
NET "Ram1data[5]" LOC = AA24;
NET "Ram1data[4]" LOC = Y24;
NET "Ram1data[3]" LOC = AB26;
NET "Ram1data[2]" LOC = AC26;
NET "Ram1data[1]" LOC = AD24;
NET "Ram1data[0]" LOC = AC24;

NET "Ram1EN" LOC = AA26;
NET "Ram1OE" LOC = AD17;
NET "Ram1WE" LOC = AA25;

NET "RxD" LOC = P26;
NET "TxD" LOC = N23;

NET "outcount[3]" LOC = A25;
NET "outcount[2]" LOC = D24;
NET "outcount[1]" LOC = C25;
NET "outcount[0]" LOC = B26;

NET "outcurrent[3]" LOC = B23;
NET "outcurrent[2]" LOC = E23;
NET "outcurrent[1]" LOC = D22;
NET "outcurrent[0]" LOC = C24;

NET "_data[15]" LOC = J24;
NET "_data[14]" LOC = G23;
NET "_data[13]" LOC = J25;
NET "_data[12]" LOC = J26;
NET "_data[11]" LOC = H26;
NET "_data[10]" LOC = G25;
NET "_data[9]" LOC = G26;
NET "_data[8]" LOC = F26;
NET "_data[7]" LOC = N26;
NET "_data[6]" LOC = M26;
NET "_data[5]" LOC = L25;
NET "_data[4]" LOC = L26;
NET "_data[3]" LOC = K26;
NET "_data[2]" LOC = M23;
NET "_data[1]" LOC = K24;
NET "_data[0]" LOC = L24;

NET "hs" LOC = L23;
NET "vs" LOC = J23;
NET "b[2]" LOC = F24;
NET "b[1]" LOC = G24;
NET "b[0]" LOC = H24;
NET "g[2]" LOC = E26;
NET "g[1]" LOC = E25;
NET "g[0]" LOC = E24;
NET "r[2]" LOC = N24;
NET "r[1]" LOC = N25;
NET "r[0]" LOC = M24;

NET "ps2clk" LOC = P24;
NET "ps2data" LOC = R26;